@media (min-width: 800px) {
  video {
    display: block;
    margin: auto;
    margin-bottom: 3%;
  }
  main {
    margin-left: 15%;
    margin-right: 15%;
  }
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  h2{
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin-right: 15%;
    margin-left: 15%;
  }
}
