.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.slide{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/2;
    margin-bottom: 15px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 15px;
    
    
}
.img1{
    grid-column: span 1/2;  
}


img{
    align-items: center;
    max-width: 100%;
}
p{
    font-family: 'Courier New', Courier, monospace;
}
body{
    padding: 6rem;
}

