h1 {
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 20px;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 30px;

}
/* set images to the size of screen */
img {
    width: 100%;
    height: auto;
    display: block;
}
/* makes a space between the page and content*/
main {
    max-width: 91%;
    margin-inline: auto;
}
.grid1 {
    display: grid;
    gap: 22px;
}
.grid1_reverse {
    display: grid;
    gap: 22px;
}
.grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
    /* gap between pictures */
.grid1 :nth-child(1) {
    gap: 20px;
}
.grid1_reverse :nth-child(1) {
    gap: 20px;
}
.line1 {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid #000;
}
#lastcol {
    padding: 20px;
}

/****** Button *******/

.button_class {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: rgb(239, 31, 31);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: rgb(255, 78, 78);
}
button:focus {
    
}

button:active {
    transform: scale(0.99);
}
/* Desktop only */
@media (min-width: 800px) {
    h2 {
        padding: 60px;
    }
    h1 {
        padding-top: 5px;
        padding-bottom: 0px;
        letter-spacing: 0px;
    }
    #lastcol {
        padding: 30px;
    }
    .grid1 {
        display: grid;
        grid-template-columns: 2fr 1.4fr;
        gap: 65px;
    }
    .grid1_reverse {
        display: grid;
        grid-template-columns: 1.4fr 2fr;
        gap: 65px;
    }
    .grid1 :nth-child(1) {
        gap: 37px;
    }
    .grid1_reverse :nth-child(1) {
        gap: 37px;
    }
    .button_class {
        padding-top: 60px;
    }
    

}
/* Mobile only */
@media (max-width: 800px) {
    main {
        max-width: 86%;
    }
    .remove {

        display: none;
    }
    .grid1_1 :nth-child(1) {
        grid-column: span 2;
    }
    .grid1_1 {
        grid-template-rows: 2fr 1fr;
    }

}
