* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header */
header a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'proxima_novaregular';
    text-transform: uppercase;
    letter-spacing: 1px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 9.5%;
}

.banner {
    display: grid;
}
/*/ other way to change order
.grid_1-1 div:nth-child(1)  {
    grid-column: 2;
}
/*/


a {
    text-decoration: none;
    color: black;
    font-family: 'proxima_novaregular';
    
}

  /* Footer */
  footer ul {
    display: flex;
    justify-content: center;
    gap: 15px;
  
  }
    footer li {
      text-align: center;
      list-style: none;
    }

/* Mobile only */
@media (max-width: 800px) {
    /* HEADER */
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .icon-img {
        position: absolute;
        width: 13%;
        left: 85%;
        top: 1.2%;
        cursor: pointer;
      }
    .nav-menu li {
        margin-bottom: 0.8rem;
    }

}

/* Dekstop only */
@media (min-width: 800px) {
    /* Header */
    .nav-menu {
        margin-top: 20px;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .order {
        order: -1;
    }
    .basket-icon {
        position: relative;
        left: 80%;
        top: -90%;
    }
    .logo-img {
        width: 35%;
        margin-top: 20px;
    }

    .icon-img {
        width: 2.25%;
        cursor: pointer;
      }
    /* Footer */
  footer ul {
    gap: 50px;
  
  }
} 