/* font */

@font-face {
  font-family: 'proxima_novaregular';
  src: url('proxima_nova_font-webfont.woff2') format('woff2'),
       url('proxima_nova_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/* header */

  .main-menu ul {
    list-style: none;
    padding: 0;
    font-family: 'proxima_novaregular';
  
    /* 2. Få elementerne til at stå ved siden af hinanden */
    display: flex;
    gap: 1rem;
  }
  
  /* burgermenu */
  .toggle-btn {
    background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
    display: none;
  }
a{
  font-family: 'proxima_nova_font-webfont.woff2';
}
  
  @media (max-width: 800px) {
    .toggle-btn {
      display: block;
    }
  
    .main-menu.shown {
      display: contents;
    }
  
    .main-menu ul {
      display: none;
      
    }
  
    .main-menu.shown ul {
      border-top: 1px solid #000;
      padding-top: 1rem;
      display: flex;
      flex-flow: column;
      flex-basis: 100%;
    }
  }
/* Mobile only */
  @media (max-width: 800px) {
    .logo-img {
        width: 80px;
    }
}