* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'proxima_novaregular';
    text-transform: uppercase;
    margin: 2rem;
    letter-spacing: 1px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.banner {
    display: grid;
}
/*/ other way to change order
.grid_1-1 div:nth-child(1)  {
    grid-column: 2;
}
/*/


a {
    text-decoration: none;
    color: black;
    font-family: 'proxima_novaregular';
    
}

@media (max-width: 800px) {
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Dekstop only */
@media (min-width: 800px) {
    .order {
        order: -1;
    }

    .pos_rel {
        position: relative;
        left: 80%;
        top: -90%;
    }
} 