/* header */

  /* burgermenu */
  .main-menu img {
    width: 12%;
    margin: 15px;
  }
  .toggle-btn {
    background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
    display: none;
  }
  /* Mobile only */
  @media (max-width: 800px) {
    .main-menu ul {
      list-style: none;
      padding: 0;
    
      /* 2. Få elementerne til at stå ved siden af hinanden */
      display: flex;
      gap: 1.5rem;
    }
    
    .toggle-btn {
      display: block;
    }
  
    .main-menu.shown {
      display: contents;
    }
    .main-menu ul {
      display: none;
      
    }
  
    .main-menu.shown ul {
      display: flex;
      flex-flow: column;
      flex-basis: 100%;
    }

    /* Header */
    .logo-img {
      width: 80px;
      margin-top: 14%;
    }
  }
